<h1>Data Visualization Methods</h1>
<p>Things go here</p>

In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

tb_cure_rates = pd.read_csv('data/TB_Success_Rates.csv')
tb_cure_rates.head(3)

lit_rates = pd.read_csv('data/Literacy_Rates.csv')
lit_rates.head(3)


#dataset = sns.load_dataset('dataset_name')
#Pulls dataset from https://github.com/mwaskom/seaborn-data

,Country or Area,Subgroup,Year,Source,Unit,Value,Value Footnotes
0,Afghanistan,Female 15+ yr,2000.0,UNESCO_UIS Database_Sep2007,Percent,12.6,NaN
1,Afghanistan,Male 15+ yr,2000.0,UNESCO_UIS Database_Sep2007,Percent,43.1,NaN
2,Albania,Female 15+ yr,2001.0,UNESCO_UIS Database_Sep2007,Percent,98.3,NaN